.container {
    padding-top: 5%;
}
.display-4 {
    text-align: center;
}
.card {
    width: 100%;
    padding-bottom: 5%;
    border: none;
}
.title-icon {
    font-size: 1.5rem;
    vertical-align: middle;
    float: right;
}
.rotated {
    transform : rotate(180deg);
}
.download-list {
    list-style: none;
}
.d-icon {
    font-size: 2em;
    text-align: center;
}
.d-icon a span i:hover {
    color: #007bff;
}
.d-text {
    text-align: center;
}
@media screen and (min-width: 450px) {
    .d-text {
        font-size: 1em;
    }
}
@media screen and (max-width: 450px) {
    .d-text {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 395px) {
    .d-text {
        font-size: 0.6em;
    }
}
.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    display: inline-block;
}
.list-item {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1rem;
}
.row-top-padding {
    padding-top: 5%;
}