.main {
  margin : auto;
}

#heading {
  padding-top : 5%;
  color       : #fff;
  text-align  : center;
  font-family : sans-serif;
  font-size   : 40px;
}

#input {
  display          : inline-block;
  margin-top       : 5%;
  color            : #fff;
  border           : none;
  background-color : #545454;
}

.button {
  display          : inline-block;
  padding          : 5px;
  color            : #fff;
  border           : none;
  background-color : #444444;
}

.button:hover {
  background-color : #111;
  cursor           : pointer;
}

#logDiv {
  display        : inline-block;
  width          : 300px;
  height         : 295px;
  margin-top     : 5%;
  padding        : 5px;
  background     : #545454;
  vertical-align : top;
}

#log {
  display    : inline;
  text-align : justify;
  font-size  : 18px;
}

.log {
  color      : #fff;
  text-align : center;
  font-size  : 20px;
}

#hub {
  width  : 755px;
  margin : 0 auto;
}

#copyButton {
  float : right;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color : #fff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color   : #fff;
  opacity : 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color   : #fff;
  opacity : 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color : #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color : #fff;
}
