body {
  background-color : #181818;
}

#menu {
  z-index: 9;
  position         : fixed;
  width            : 100%;
  height           : 30px;
  margin-top       : -8px;
  margin-left      : -8px;
  background-color : #383838;
}

ul {
  margin           : 0px;
  padding          : 0px;
  overflow         : hidden;
  background-color : #383838;
  list-style-type  : none;
}

li {
  display : inline;
  float   : left;
}

#menu_text {
  display          : block;
  padding          : 14px 16px;
  color            : #DCDCDC;
  background-color : ;
  text-decoration  : none;
}

#menu_text:hover {
  background-color : #080808;
}

.active {
  background-color : #334d99;
}
.inactive {
  /*background-color: #545454;*/
}
