#title {
  display: inline;
  font-size: 55px;
  font-family: 'Montserrat', sans-serif;
  color: #DCDCDC;
}

#titlebox {
  padding-top: 0px;
  text-align: center;
  width: 100%;
}

line {
  stroke :rgb(100, 100, 100);
}

#splash {
  height: 420px;
  width: 100%;
  overflow: hidden;
}

#dot {
	transform: rotate(45deg);
	display: inline;
	padding: auto;
}

.wings {
	padding: 0px;
	margin: 0px;
  fill: #8c8989;
  padding: 0px 5px 0px 5px;
}
