.gb-right {
    border-right-width: 1px;
    border-right-style: solid;
    -webkit-border-image: 
        -webkit-linear-gradient(rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%) 1 100%;
    -moz-border-image:
        -moz-linear-gradient(rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%) 1 100%;    
    -o-border-image:
        -o-linear-gradient(rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%) 1 100%;
    border-image:
        linear-gradient(rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%) 1 100%;
}
.gb-left {
    border-left-width: 1px;
    border-left-style: solid;
    -webkit-border-image: 
        -webkit-linear-gradient(rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%) 1 100%;
    -moz-border-image:
        -moz-linear-gradient(rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%) 1 100%;    
    -o-border-image:
        -o-linear-gradient(rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%) 1 100%;
    border-image:
        linear-gradient(rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%) 1 100%;
}
.gb-bottom {
    border-bottom: 1px solid transparent;
	-moz-border-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%);
    -webkit-border-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%);
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%);
    border-image-slice: 1;
}
.gb-top {
    border-top: 1px solid transparent;
	-moz-border-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%);
    -webkit-border-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%);
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 4%, #c6c6c6 40%, rgba(0, 0, 0, 0) 96%);
    border-image-slice: 1;
}